
h2{
    font-size: medium ;
    text-align: center;
  }

  h2{
    font-size: small ;
    text-align: center;
  }
  
  h3{
    font-size: smaller ;
    }


  .flex-container{
    display: flex;
    gap: 70px;
  margin: 20px;
    
  }

  .card-item {
    width: 250px !important;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #FED049;
    text-align: center;
  }