html {
  background-color: #ecf8f9 !important;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ecf8f9 !important;
  margin: 10px;
  /* padding: 0;
  display: flex; */
  /* justify-content: center;
  align-items: center; */
  /* height: 100vh; */
}

h1{
  font-size: medium ;
  text-align: center;
}

h2{
  font-size: small ;
  text-align: center;
}

h3{
  font-size: smaller ;
  
}

.chore-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style-type: none;
}

.chore-details {
  display: block;
}

.chore-item {
  width: 225px !important;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color:#fff ;
  text-align: center;
}



img {
  width: 120px;
  height: 120px;
}



.button-container {
  display: block;
  /* align-items: flex-end; */
  gap: 4px;

}

a {
  text-decoration: none;
}

.button,
button[type="submit"] {
  background-color: #3D5656;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  margin: 4px 2px;
  border-radius: 10px;
  width: 60px;
  font-size: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #fff;
  background-color: #68B984;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #3D5656;
}

th {
  background-color: #fff;
}

tr {
  background-color: #fff;
}


.date-kid {
  display: block;
  align-items: center;
  gap: 4px;
  font-size: small;
  }

/* .assign_form{
  border:none !important;
} */

form.group {
  margin: auto;
  width: 75%;
  border: 3px solid #3D5656;
  padding: 10px;
}

label {
  display: block;
  width: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 30%;
  height: 20px;
}

input[type="number"] {
  width: 25% !important;
  height: 25px!important;
  /* margin-bottom: 10px;  */

}

.flex-container{
  display: flex;
  gap: 70px;
margin: 20px;
  
}



