.landingPage-body {
    background-color: #ECF8F9;
}

img {
    max: width 30%; 
    height:auto
}

.landingPage-image {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.landingPage-btn {
    background-color: #3D5656 !important;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
}

.landingPage-btn:hover {
    background-color: #68B984 !important;
}