.landingPage-body {
    background-color: #ECF8F9;
}


.main {
    background-color: #ECF8F9;
    /* min-height: 80vh; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 200px; */
    margin-top: 7%;
    min-width: auto;
    min-height: 500px;
    width: fit-content;
    /* height: fit-content; */
}


.landingPage-image {
    display: block;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
}

.landingPage-btn {
    background-color: #3D5656 !important;
    color: #FED049 !important;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.landingPage-btn:hover {
    background-color: #68B984 !important;
    color: white !important;
}